body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7c9b6;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.like-clicked{
  background-color: #c1d8af;
  border-radius: 2px;
  color: black;
}

.dislike-clicked{
  background-color: rgb(214, 125, 125);
  border-radius: 2px;
  color: black;
}

.error {
  color: red;
  text-transform: uppercase;
}

.post-grid-container {
  display: grid;
  column-gap: 50px;
  row-gap: 20px;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

.post-grid-item {
  background-color: #83BDC0;
  border: 3px solid #549BAD;
  padding: 10px;
  padding-top: 15px;
  font-size: 9px;
  text-align: left;
  width: 700px;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.post-grid-item-username {
  font-size: 32px;
  font-weight: 300;
  margin: 0;
}

.post-grid-item-restaurant-name{
  font-weight: 500;
  margin: 0;
}

.post-grid-item-restaurant-location {
  /* float: left; */
  font-weight: 200;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 0;
  /* margin: 0; */
}

.post-grid-item-user-rating {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  padding-bottom: 4px;
}

.post-grid-item-image{
  float: right;
}

.post-grid-item-short-review{
  float: inline-end;
}

.normal {
  background-color: #f8eae5;
  border-radius: 5px;
}


.user-grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto;
  /* background-color: #2196F3; */
  column-gap: 50px;
  row-gap: 20px;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

.user-grid-item{
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  font-size: 9px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.restaurant-grid-container{
  display: grid;
  /* grid-auto-flow: row; */
  /* grid-template-columns: auto auto auto auto auto auto auto; */
  /* background-color: #2196F3; */
  /* column-gap: 50px; */
  width: 300px;
  height: auto;
  row-gap: 20px;
  padding: 10px;
  margin: auto;
  justify-content: center;
}

.restaurant-grid-item{
  background-color: #83BDC0;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  font-size: 12px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}
.restaurant-grid-item:hover{
  background-color: #549BAD;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 25px;
  font-size: 12px;
  text-align: center;
  margin: auto;
  border-radius: 10px;
}

.nav {
  background-color: #83BDC0;
  color: rgb(26, 19, 19);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  gap: 3rem;
  padding: 0 1rem;
  overflow: hidden;
}

.site-title {
  font-size: 30px;
  letter-spacing: 4px;
  /* text-decoration: double; */
}

.nav ul{
  padding: 0;
  list-style: none;
  display: flex;
  gap: 2rem
}

.nav li{
  letter-spacing: 2px;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 40px;
}

/* .nav li.active {
  background-color: #555;
} */

.nav li:hover {
  background-color: rgb(58, 153, 156);
  height: 100%;
}

.nav-right {
  float: right;
  /* width: 100%; */
  /* padding-right: 100px */
}

.top-of-page-title{
  font-size: 100px;
  padding: 0;
  margin: auto;
  font-weight: 300;
  /* float: left; */
}

.top-of-page-title-users{
  text-align: center;
  font-size: 100px;
  padding: 0;
  margin: auto;
  font-weight: 300;
}

.on-post-page-normal{
  float: inline-end;
  margin: 10px;
  background-color: #f8eae5;
  border-radius: 5px;
}

.profile-image {
  height: 300px;
  width: auto;
  /* float: left; */
  margin: auto;
  padding-left: 10px;
}

.searchbar {
  cursor: pointer;
  border-radius: 10px;
  font-size: 13px;
  padding: 10px
}

.restaurant-profile-name {
  font-size: 50px;
  letter-spacing: 5px;
  font-weight: 200;
  font-style: italic;
}

.restaurant-profile-location {
  font-weight: 400;
  font-style: italic;
  margin-bottom: 0;
}

.restaurant-profile-category{
  font-weight: 100;
  margin-top: 5px;
}

.restaurant-profile-user-ratings {
  font-size: 15px;
}

.users-profile-bio {
  font-size: 50px;
  font-style: italic;
}

.users-profile-short-review{
  font-size: 30px;
}

.delete-post-button{
  /* float: inline-start; */
  background-color: #f8eae5;
  border-radius: 5px;
  
}